In [71]:
from mplsoccer.statsbomb import read_event, EVENT_SLUG
import os
import pandas as pd
import numpy as np
from scipy.ndimage import gaussian_filter
import matplotlib.pyplot as plt
plt.style.use('dark_background')

In [72]:
comps = sb.Competitions()
json_data = comps.data  # underlying json data

df = comps.get_dataframe()
df

,competition_id,season_id,country_name,competition_name,competition_gender,season_name,match_updated,match_available
0,16,4,Europe,Champions League,male,2018/2019,2020-02-27T12:19:39.458017,2020-02-27T12:19:39.458017
1,16,1,Europe,Champions League,male,2017/2018,2020-06-11T01:24:40.306618,2020-06-11T01:24:40.306618
2,16,2,Europe,Champions League,male,2016/2017,2020-06-10T22:06:56.555602,2020-06-10T22:06:56.555602
3,16,27,Europe,Champions League,male,2015/2016,2020-06-10T20:02:56.222690,2020-06-10T20:02:56.222690
4,16,26,Europe,Champions League,male,2014/2015,2020-06-10T17:04:18.637515,2020-06-10T17:04:18.637515
5,16,25,Europe,Champions League,male,2013/2014,2020-06-11T15:06:38.832473,2020-06-11T15:06:38.832473
6,16,24,Europe,Champions League,male,2012/2013,2020-06-10T01:23:02.861683,2020-06-10T01:23:02.861683
7,16,23,Europe,Champions League,male,2011/2012,2020-06-09T23:06:48.094931,2020-06-09T23:06:48.094931
8,16,22,Europe,Champions League,male,2010/2011,2020-06-09T19:25:59.629616,2020-06-09T19:25:59.629616
9,16,21,Europe,Champions League,male,2009/2010,2020-06-09T17:04:26.558849,2020-06-09T17:04:26.558849
10,16,41,Europe,Champions League,male,2008/2009,2020-06-08T17:37:13.057374,2020-06-08T17:37:13.057374
11,16,39,Europe,Champions League,male,2006/2007,2020-06-08T23:15:00.015201,2020-06-08T23:15:00.015201
12,16,37,Europe,Champions League,male,2004/2005,2020-06-08T15:38:30.853093,2020-06-08T15:38:30.853093
13,16,44,Europe,Champions League,male,2003/2004,2020-06-06T16:04:33.453344,2020-06-06T16:04:33.453344
14,16,76,Europe,Champions League,male,1999/2000,2020-04-03T08:44:23.412603,2020-04-03T08:44:23.412603
15,37,42,England,FA Women's Super League,female,2019/2020,2020-07-02T12:49:51.684370,2020-07-02T12:49:51.684370
16,37,4,England,FA Women's Super League,female,2018/2019,2020-06-29T09:30:50.720198,2020-06-29T09:30:50.720198
17,43,3,International,FIFA World Cup,male,2018,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
18,11,4,Spain,La Liga,male,2018/2019,2020-06-28T18:31:29.167007,2020-06-28T18:31:29.167007
19,11,1,Spain,La Liga,male,2017/2018,2020-05-03T17:05:26.772937,2020-05-03T17:05:26.772937
20,11,2,Spain,La Liga,male,2016/2017,2020-07-05T17:56:16.268512,2020-07-05T17:56:16.268512
21,11,27,Spain,La Liga,male,2015/2016,2020-04-13T23:02:59.803428,2020-04-13T23:02:59.803428
22,11,26,Spain,La Liga,male,2014/2015,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
23,11,25,Spain,La Liga,male,2013/2014,2020-07-01T06:47:36.327295,2020-07-01T06:47:36.327295
24,11,24,Spain,La Liga,male,2012/2013,2020-04-13T23:02:59.803428,2020-04-13T23:02:59.803428
25,11,23,Spain,La Liga,male,2011/2012,2020-04-13T23:02:59.803428,2020-04-13T23:02:59.803428
26,11,22,Spain,La Liga,male,2010/2011,2020-07-01T06:47:36.327295,2020-07-01T06:47:36.327295
27,11,21,Spain,La Liga,male,2009/2010,2020-07-01T06:47:36.327295,2020-07-01T06:47:36.327295
28,11,41,Spain,La Liga,male,2008/2009,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
29,11,40,Spain,La Liga,male,2007/2008,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
30,11,39,Spain,La Liga,male,2006/2007,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
31,11,38,Spain,La Liga,male,2005/2006,2020-02-27T12:19:39.458017,2020-02-27T12:19:39.458017
32,11,37,Spain,La Liga,male,2004/2005,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
33,49,3,United States of America,NWSL,female,2018,2020-02-27T15:22:21.167136,2019-12-16T23:09:16.168756
34,2,44,England,Premier League,male,2003/2004,2020-06-27T22:32:59.978877,2020-06-27T22:32:59.978877
35,72,30,International,Women's World Cup,female,2019,2020-02-27T12:19:39.458017,2020-02-27T12:19:39.458017

In [77]:
matches = sb.Matches(event_id ='2', season_id='44')
matches_df = matches.get_dataframe()
matches_df

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,last_updated,metadata,match_week,competition_stage,referee
0,3749052,2004-02-07,16:00:00.000,2,44,46,1,1,3,available,2020-04-18T11:36:13.655283,"{'data_version': '1.1.0', 'shot_fidelity_versi...",24,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
1,3749079,2003-10-18,16:00:00.000,2,44,1,33,2,1,available,2020-04-15T16:30:59.350384,"{'data_version': '1.1.0', 'shot_fidelity_versi...",9,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
2,3749133,2004-01-18,15:00:00.000,2,44,59,1,0,2,available,2020-04-17T03:24:07.811908,"{'data_version': '1.1.0', 'shot_fidelity_versi...",22,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
3,3749153,2004-01-10,16:00:00.000,2,44,1,47,4,1,available,2020-04-16T00:51:45.356881,"{'data_version': '1.1.0', 'shot_fidelity_versi...",21,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
4,3749196,2003-11-08,16:00:00.000,2,44,1,38,2,1,available,2020-04-15T10:11:04.614979,"{'data_version': '1.1.0', 'shot_fidelity_versi...",12,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
5,3749296,2003-09-13,16:00:00.000,2,44,1,105,1,1,available,2020-04-16T19:45:25.422410,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
6,3749253,2003-10-04,13:30:00.000,2,44,24,1,1,2,available,2020-04-15T13:22:03.567067,"{'data_version': '1.1.0', 'shot_fidelity_versi...",8,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
7,3749358,2003-08-24,17:05:00.000,2,44,47,1,0,4,available,2020-04-19T00:04:03.645316,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
8,3749434,2003-11-22,16:00:00.000,2,44,54,1,0,3,available,2020-04-15T00:46:26.597066,"{'data_version': '1.1.0', 'shot_fidelity_versi...",13,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
9,3749448,2004-04-09,13:30:00.000,2,44,1,24,4,2,available,2020-04-15T20:34:42.424978,"{'data_version': '1.1.0', 'shot_fidelity_versi...",31,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
10,3749465,2004-03-13,16:00:00.000,2,44,98,1,0,2,available,2020-04-18T13:40:59.852018,"{'data_version': '1.1.0', 'shot_fidelity_versi...",28,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
11,3749454,2003-08-31,17:05:00.000,2,44,36,1,1,2,available,2020-04-14T17:07:24.373301,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
12,3749526,2003-10-26,15:00:00.000,2,44,75,1,1,1,available,2020-04-17T20:47:12.364320,"{'data_version': '1.1.0', 'shot_fidelity_versi...",10,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
13,3749522,2003-12-26,13:00:00.000,2,44,1,46,3,0,available,2020-04-15T16:30:59.350384,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
14,3749493,2003-08-16,16:00:00.000,2,44,1,29,2,1,available,2020-04-15T00:46:26.597066,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
15,3749642,2004-02-28,16:00:00.000,2,44,1,75,2,1,available,2020-06-21T23:24:17.606581,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
16,3749528,2003-09-26,21:00:00.000,2,44,1,37,3,2,available,2020-04-15T16:30:59.350384,"{'data_version': '1.1.0', 'shot_fidelity_versi...",7,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
17,3749552,2003-09-21,17:05:00.000,2,44,39,1,0,0,available,2020-04-14T20:48:35.129019,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
18,3749257,2004-05-15,16:00:00.000,2,44,1,22,2,1,available,2020-04-20T23:10:18.708580,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
19,3749246,2004-03-28,17:05:00.000,2,44,1,39,1,1,available,2020-04-17T03:24:07.811908,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
20,3749278,2003-12-20,16:00:00.000,2,44,328,1,1,1,available,2020-04-17T20:47:12.364320,"{'data_version': '1.1.0', 'shot_fidelity_versi...",17,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
21,3749276,2004-02-21,13:30:00.000,2,44,33,1,1,2,available,2020-04-14T20:48:35.129019,"{'data_version': '1.1.0', 'shot_fidelity_versi...",26,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
22,3749310,2003-12-29,21:00:00.000,2,44,25,1,0,1,available,2020-04-20T23:10:18.708580,"{'data_version': '1.1.0', 'shot_fidelity_versi...",19,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
23,3749233,2004-02-01,17:05:00.000,2,44,1,36,2,1,available,2020-04-15T13:22:03.567067,"{'data_version': '1.1.0', 'shot_fidelity_versi...",23,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
24,3749453,2004-04-16,21:00:00.000,2,44,1,101,5,0,available,2020-04-17T16:44:00.613021,"{'data_version': '1.1.0', 'shot_fidelity_versi...",33,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
25,3749603,2004-05-09,17:05:00.000,2,44,55,1,0,1,available,2020-04-19T05:32:54.943976,"{'data_version': '1.1.0', 'shot_fidelity_versi...",37,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
26,3749403,2004-03-20,16:00:00.000,2,44,1,328,2,1,available,2020-04-18T00:46:48.319446,"{'data_version': '1.1.0', 'shot_fidelity_versi...",29,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
27,3749360,2003-12-14,15:00:00.000,2,44,1,98,1,0,available,2020-04-17T03:24:07.811908,"{'data_version': '1.1.0', 'shot_fidelity_versi...",16,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
28,3749192,2003-11-30,15:00:00.000,2,44,1,55,0,0,available,2020-04-19T00:04:03.645316,"{'data_version': '1.1.0', 'shot_fidelity_versi...",14,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
29,3749068,2004-04-25,17:05:00.000,2,44,38,1,2,2,available,2020-04-14T20:48:35.129019,"{'data_version': '1.1.0', 'shot_fidelity_versi...",35,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
30,3749346,2003-11-01,16:00:00.000,2,44,101,1,1,4,available,2020-04-14T20:48:35.129019,"{'data_version': '1.1.0', 'shot_fidelity_versi...",11,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"
31,3749462,2004-05-01,13:30:00.000,2,44,1,54,0,0,available,2020-06-27T22:32:59.978877,"{'data_version': '1.1.0', 'shot_fidelity_versi...",35,"{'id': 1, 'name': 'Regular Season'}","{'id': 1279, 'name': 'None'}"

In [80]:
matches_df['match_id'].values

array([3749052, 3749079, 3749133, 3749153, 3749196, 3749296, 3749253,
       3749358, 3749434, 3749448, 3749465, 3749454, 3749526, 3749522,
       3749493, 3749642, 3749528, 3749552, 3749257, 3749246, 3749278,
       3749276, 3749310, 3749233, 3749453, 3749603, 3749403, 3749360,
       3749192, 3749068, 3749346, 3749462], dtype=int64)

In [89]:
match_files = matches_df['match_id']
match_files

0     3749052
1     3749079
2     3749133
3     3749153
4     3749196
5     3749296
6     3749253
7     3749358
8     3749434
9     3749448
10    3749465
11    3749454
12    3749526
13    3749522
14    3749493
15    3749642
16    3749528
17    3749552
18    3749257
19    3749246
20    3749278
21    3749276
22    3749310
23    3749233
24    3749453
25    3749603
26    3749403
27    3749360
28    3749192
29    3749068
30    3749346
31    3749462
Name: match_id, dtype: int64

In [93]:
match_files = matches_df[3749192]

KeyError: 3749192